.hero-section-wrapper {
    position: relative;
    overflow: hidden;
}

.hero-section {
    min-height: 100vh;
    text-align: center;
}

.hero-heading {
    font-size: 106px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 125px;
}

.hero-subheading {
    font-size: 30px;
    font-weight: 700;
    margin: 35px 58px;
    line-height: 38px;
}

.hero-claim-lable {
    font-size: 25px;
    background-color: #272727;
    width: 100vw;
    height: 72px;
    line-height: 30px;
    position: absolute;
    font-weight: 600;
}

#claim-img {
    height: 10px;
    width: 10px;
}

.claim-anchor {
    color: #7ea2ec;
}

@media screen and (max-width: 1279px) {
    .hero-heading {
        font-size: 82px;
        line-height: 92px;
    }

    .hero-subheading {
        font-size: 25px;
        margin: 20px 58px;
        line-height: 24px;
    }

}

@media screen and (max-width: 767px) {
    .hero-heading {
        font-size: 65px;
        line-height: 55px;
        margin-top: 60px;
    }

    .hero-subheading {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 24px;
        margin: 35px 0px;
    }

    .hero-section {
        text-align: left;
        align-items: flex-start;
        max-width: 80%;
        min-height: 70vh;
    }

    .hero-claim-lable {
        flex-direction: column;
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .hero-claim-lable {
        flex-direction: column;
        font-size: 13px;
        height: 55px;
        line-height: 20px;
    }

    .claim-anchor {
        color: #7ea2ec;
        font-size: 11.8px;
    }
}